# Django
django
django-oauth-toolkit

# Python libraries
python-dotenv
asgiref
certifi
cffi
charset-normalizer
cryptography
filelock
fsspec
huggingface-hub
idna
jwcrypto
numpy
oauthlib
packaging
psycopg2-binary
pycparser
pytz
PyYAML
regex
requests
safetensors
sqlparse
tokenizers
tqdm
transformers
typing_extensions
urllib3

# LangChain and related libraries
langchain
PyPDF2
faiss-cpu
langchain_community
pandas
groq
langchain-groq
langchain_google_genai
langchain_experimental
langchainhub

# Optional libraries
tensorflow
keras
